* {
    box-sizing: border-box;
    font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}
label {
    cursor: pointer;
}
.wrap {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
.header {
    line-height: 52px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
}
h1.h1-img {
    display: inline-block;
    padding: 4px 0 0 3px;
}
h1.h1-img a {
    background: url("../img/header/h1.png") no-repeat;
    font-size: 0;
    padding: 14px 110px;
}
span.header-date {
    font-size: 14px;
    color: #8f8f8f;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 33px;
    line-height: 0;
    letter-spacing: -0.5px;
}
.header form.search-form {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 65px;
}
.search-btn-position {
    position: relative;
}
input.search {
    font-size: 12px;
    color: #747474;
    padding-left: 9px;
    border: 1px solid #c4c4c4;
    border-radius: 6px 0 0 6px;
    line-height: 26px;
    width: 142px;
}
button.search-btn {
    width: 33px;
    line-height: 26px;
    border: 1px solid #c4c4c4;
    border-radius: 0 6px 6px 0;
    border-left: none;
    background: #ededed;
    position: absolute;
    top: 13px;
}
span.search-btn-img {
    background: url("../img/header/search-img.png") no-repeat center center;
    padding: 3.5px 16.5px 3.5px 13.5px;
}

/*aside 시작*/

.aside {
    width: 204px;
    position: absolute;
    top: 63px;
}
.aside-home {
    height: 27px;
}
a.aside-home-click {
    padding: 5.5px 116px 5.5px 32px;
    vertical-align: sub;
    color: #f2f2f2;
    background: #7d7d7d;
    font-size: 13px;
}
span.home-img {
    background: url("../img/aside/home-img.png") no-repeat left center;
    padding: 0 11px 0 7px;
}
h2.news-zone-h2 a {
    line-height: 32px;
    font-size: 24px;
    font-weight: lighter;
    color: #ffffff;
    letter-spacing: -1px;
    background: #153e94;
    padding: 6px 59.21px 6px 31px;
    position: relative;
    display: inline-block;
}
span.chat-img {
    background: url("../img/aside/chat-img.png") no-repeat;
    padding: 8px;
    position: absolute;
    top: 11px;
    right: 42px;
}
ul.news-zone-list li {
    background: url("../img/aside/aside-list-blue-bg.png") repeat-x bottom;
    padding-left: 32px;
    border-bottom: 1px solid #ececec;
}
ul.news-zone-list {
    border-right: 1px solid #d9d9d9;
}
ul.news-zone-list li:first-child {
    height: 48px;
}
ul.news-zone-list li a {
    display: block;
    color: #6a728b;
    font-size: 14px;
    letter-spacing: -1px;
    position: relative;
}
ul.news-zone-list li:first-child a {
    font-size: 16px;
    padding: 10px 0 5px 0;
}
span.news-zone-list-gray {
    font-size: 11px;
    color: #adb0bc;
}
span.news-zone-arrow {
    background: url("../img/aside/aside-list-blue-arrow.png") no-repeat;
    padding: 3.5px 2.5px;
    position: absolute;
    top: 21px;
    right: 27px;
}